      body {
        padding: 30px;
        font-family: didot;
      }
      .player-container {
        position: relative;
      }
      .title {
        margin-left: 15px;
        font-size: 20px;
        font-weight: bold;
      }
      .timeline {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        cursor: pointer;
        height: 105%;
        background-color: black;
      }
      .sections {
        display: flex;
        flex-direction: row;
        background-color: white;
        font-size: 12;
      }
      .subsections {
        display: flex;
        flex-direction: row;
        background-color: white;
        font-size: 12;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin-right: 4px;
      }
      .box {
        background-color: #fa8073;
        margin: 2px;
        display: flex;
      }
      .subbox {
        background-color: black;
        margin: 0px;
        display: flex;
        border-style: solid;
        border-width: 0px 1px 0px 0px;
        border-color: white;
      }
      .section-name {
        font-size: 23px;
        text-align: center;
        border-style: solid;
        border-width: 1px 1px 0px 1px;
        border-color: black;        
        margin-right: 4px;
        background-color: #fa8073;
      }
      .last {
        border-width: 0px;
      }
      .box:hover {
        background-color: red;
      }
      .subbox:hover {
        background-color: white;
      }
      .box > a {
        flex: 1;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 20px;
        width: 100%;
        display: block;
      }
      .subbox > a {
        flex: 1;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: white;
        font-size: 20px;
        width: 100%;
        display: block;
      }
      .subbox:hover > a {
        color: black;
      }

      .controls {
        display: flex;
        flex-direction: row;
      }

      .button {
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
      }

      .time {
        display: flex;
        flex-direction: row;
      }
      .measure {
        position: absolute;
        font-size: 12;
      }
     .labels {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 7px;
      }
      .label {
        position: absolute;
        font-size: 12;
      }
     